@import "./base";
@import "~bootstrap/scss/bootstrap";
@import "./global";
@import "./components";
@import "./pages";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "./bootstrap-override";

input:-internal-autofill-selected {
    background-color: transparent !important
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: transparent !important;
    -webkit-tap-highlight-color: transparent !important;
}